body {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

h3 {
    color: #1d6300;
    font-weight: bold;
}

img {
    width: 100%;
}

p {
    font-size: large;
}

span.highlight {
    font-weight: bold;
}

span.color {
    color: #1d6300;
}

img.img-mech {
    border: solid 1px;
    width: 100%;
}

img.img-cont {
    width: 100%;
}

div.img-gply {
    text-align: center;
}