body {
    padding-top: 56px;
}

img {
    width: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

.item-preview {
    position: relative;
}

.item-preview a.item-preview-img {
     transition: .15s box-shadow, .15s transform;
     border-radius: .5rem;
     box-shadow: 0 2rem 1.5rem -1.5rem rgba(33, 37, 41, .15), 0 0 1.5rem 0.5rem rgba(33, 37, 41, .05);
     overflow: hidden;
 }

.item-preview a.item-preview-img:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(33,37,41,.3),0 0 1.5rem .5rem rgba(33,37,41,.05)!important;
}

.item-preview .item-preview-title {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
}

.item-preview .item-preview-description {
    font-size: .8rem;
    color: rgba(33,37,41,.7);
}

.card {
    transition: .15s box-shadow, .15s transform;
    border-radius: .5rem;
    box-shadow: 0 2rem 1.5rem -1.5rem rgba(33, 37, 41, .15), 0 0 1.5rem 0.5rem rgba(33, 37, 41, .05);
    overflow: hidden;
}

.card:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(33, 37, 41, .3), 0 0 1.5rem .5rem rgba(33, 37, 41, .05) !important;
}