body {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

#canvas {
    width: 100%;
}

h3 {
    color: #002874;
    font-weight: bold;
}

img {
    width: 100%;
}

p {
    font-size: large;
}

span.highlight {
    font-weight: bold;
}

span.color {
    color: #002874;
}
