div.ide {
    display: inline-block;
    padding: 8px;
}
div.ide div {
    position: relative;
    height: 64px;
}

div.container {
    color: black;
}

p {
    font-size: 13pt;
}

span.highlight {
    font-weight: bold;
}

span.color {
    color: #779ecb;
}

h3 {
    color: #779ecb;
    font-weight: bold;
}

div.buttons {
    text-align: center;
    padding: 2.5%;
}

button.btn {
    color: black;
    margin: 1%;
    width: 10%;
}

img {
    width: 100%;
    padding-bottom: 8px;
}