body {
    background-color: black;
    color: white;
    font-family: monospace;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}

span.highlight {
    font-weight: bold;
}

span.color {
    color: #3bac64;
}